@import "default.css";
body{background:#3C3C3C; color:#FFE5B8;}
section{height:4462px;}

/* #header{height:881px; background:url(../wing.png) no-repeat; background-position:center; margin-bottom:180px;} */
#header {height: 100vh;min-height:680px;display: flex; flex-direction: column; justify-content: space-evenly;align-items: center;}
h1{display:none;}
.hpwrap{margin:0 auto; text-align:center;}
#header h1{margin-bottom:40px;font-size: 80px;}
#header p {font-size: 20px;line-height: 1.7em;}
.header_bg_1, .header_bg_2 {width: 300px;height: 78.90484739677px;overflow: hidden;opacity: 0.5;}
.header_bg_2 {transform: rotate(180deg);}
#header img {width: 100%;}
.start_btn{display:block; margin:0 auto; margin-top:100px;background: rgba(0,0,0,0) !important;color: inherit;opacity: 0.5;}

#portfolio{height:566px; margin-bottom:220px;}
h2{text-align:center; margin-bottom:40px;}
.slots_wrap{height:450px; display:grid; grid-template-columns:repeat(5,1fr); grid-template-areas:"slot1 slot2 slot3 slot4 slot5"; margin-left:70px; margin-right:70px;}
.slots{width:220px; height:400px; display:block; background-color:#d9d9d9; transition: width 0.3s;}
.slots:hover{width:490px;}
.slots_wrap:hover .slots:not(:hover) {opacity: 0.3;}

#make{margin-bottom:240px;}

#skill{height:810px; margin-bottom:240px;}
.skill_wraps{height:680px; margin-left:70px; margin-right:70px; background-color:#d9d9d9; display:grid; grid-template-columns:repeat(2,1fr); grid-template-areas:"box1 box2";}
.skills{height:570px; margin:55px 55px 70px 70px;}
.skill_left{display:grid; grid-template-rows:repeat(5,1fr);}
.skill_right{display:grid; grid-template-rows:repeat(5,1fr);}
.sw{height:90px; display:grid; grid-template-columns:repeat(8,1fr);}
.big{width:90px; height:90px; background-color:#868686; margin-right:20px;}
.small{width:45px; height:45px; margin-top:22.5px; margin-bottom:22.5px; background-color:#868686;}


#about{height:695px; margin-bottom:70px;}
.about_wrap{height:585px; margin-left:70px; margin-right:70px; background-color:#d9d9d9; display:grid; grid-template-rows:repeat(2,1fr);}
.top{margin:20px; display:grid; grid-template-columns:20% 80%;}
.other{margin:0px 40px 40px 40px; background-color:#A3A3A3;}
.photo{margin:20px; background-color:#A3A3A3;}
.persona{margin:20px; background-color:#A3A3A3;}